.text-block_list {
  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 20px;
    flex-wrap: wrap;

    h5 {
      font-size: 14px;
      font-weight: 700;
      line-height: 19.12px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: $color-dark;
      text-transform: uppercase;
    }

    span {
      font-size: 14px;
      font-weight: 500;
      line-height: 19.12px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: $color-grey-2;
      text-transform: uppercase;
    }
  }

  .head_right {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  ul {
    li {
      font-size: 14px;
      font-weight: 500;
      line-height: 19.12px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: $color-grey-2;
      text-transform: uppercase;
      border-top: 1px solid $color-grey;
      padding: 10px 0 20px 0;

      &:last-child {
        padding: 10px 0 0 0;
      }
    }
  }
}
